<nav class="cover-navigation navigation--social">
    <ul class="navigation">


        <!-- Weibo -->
        <li class="navigation__item">
            <a href="https://weibo.com/u/1970627813" title="@taohongyao 的微博" target="_blank">
                <i class='social fa fa-weibo'></i>
                <span class="label">Weibo</span>
            </a>
        </li>

        <!-- QQ -->
        <li class="navigation__item">
            <a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=442472147&website=www.oicqzone.com" title="@taohongyao 的QQ" target="_blank">
                <i class="fa fa-qq"></i>
                <span class="label">QQ</span>
            </a>
        </li>

        <!-- Github -->
        <li class="navigation__item">
            <a href="https://github.com/taohongyao" title="@taohongyao 的 Github" target="_blank">
                <i class='social fa fa-github'></i>
                <span class="label">Github</span>
            </a>
        </li>

        <!-- Twitter -->
        <li class="navigation__item">
            <a href="https://twitter.com/taohongyao1995" title="@taohongyao 的 Twitter" target="_blank">
                <i class='social fa fa-twitter'></i>
                <span class="label">Twitter</span>
            </a>
        </li>

        <!-- Facebook -->
        <li class="navigation__item">
            <a href="https://www.facebook.com/hongyao.tao" title="@taohongyao 的 Facebook" target="_blank">
                <i class="fa fa-facebook"></i>
                <span class="label">Facebook</span>
            </a>
        </li>

        <!-- Google -->
        <li class="navigation__item">
            <a href="https://plus.google.com/u/0/102016051208530978230" title="@taohongyao 的 Google+" target="_blank">
                <i class="fa fa-google"></i>
                <span class="label">Google+</span>
            </a>
        </li>


        <!-- RSS -->
        <!--<li class="navigation__item">-->
        <!--<a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">-->
        <!--<i class='social fa fa-rss'></i>-->
        <!--<span class="label">RSS</span>-->
        <!--</a>-->
        <!--</li>-->

        <!-- Email -->
        <li class="navigation__item">
            <a href="mailto:442472147@qq.com" title="邮件联系我">
                <i class='social fa fa-envelope'></i>
                <span class="label">Email</span>
            </a>
        </li>

    </ul>
</nav>